*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/sl-component.jar
language/dependency-reduced-pom.xml
native/slnative
language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.java
language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageParser.java
